extends ./layout.jade
block contenido 
 h1 Bienvenido a la calculadora
 div
  a(href="agregar") Agregar nueva Imagen
 div
  a(href="catalogo") Mostrar catalogo de imagenes

 //div
 // img(src="http://res.cloudinary.com/dgi37r9qw/image/upload/v1469641594/cfbqluipipzkwuszlvap.png")
  